'''
Created with automcp (https://github.com/redhat-ai-tools/automcp)
'''

import subprocess
from mcp.server.fastmcp import FastMCP

def run_shell(command):
    logs = ""
    process = subprocess.Popen(
        command, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, text=True
    )
    if process.stdout is None:
        raise subprocess.CalledProcessError(
            returncode=process.returncode,
            cmd=command,
            output=logs,
            stderr=logs,
        )
    for line in process.stdout:
        logs += line
    process.wait()
    return logs

mcp = FastMCP(name="{{ name }} MCP Server")

{% for command in commands %}

@mcp.tool()
def {{ command.function }}(
{%- for arg in command.args %}
    {{ arg.name }}{%- if loop.index0 < command.args|length - 1 %},{% endif %}
{%- endfor %}
{%- if command.args|length != 0 and command.flags|length != 0 -%}
    ,
{%- endif %}
{%- for flag in command.flags %}
    {{ flag.flag_name }} {%- if flag.type == "" %}: bool = False {%- else %}: str = None {%- endif %}
    {%- if loop.index0 < command.flags|length - 1 %},{% endif %}
{%- endfor %}
) -> str:
    """
    {{ command.description }}

    Arguments:
    {%- for flag in command.flags %}
        {{ flag.flag_name }}: {{ flag.description }}
    {%- endfor %}

    """
    splits = "{{ command.command }}".split()

    {%- if command.args|length == 1 and command.args[0].name.startswith("*") %}
    splits = splits + [ x for x in {{ command.args[0].name[1:] }} ]
    {%- else %}
    {%- for arg in command.args %}
    if {{ arg.name }} is not None and {{ arg.name }} != "":
        splits.append({{ arg.name }})
    {%- endfor %}
    {%- endif %}

    {%- for flag in command.flags %}
    {%- if flag.type == "" %}
    if {{ flag.flag_name }} == True :
        splits.append("{{ flag.flag }}")
    {%- else %}
    if {{ flag.flag_name }} is not None and {{ flag.flag_name }} != "":
        splits.append("{{ flag.flag }}=" + {{ flag.flag_name }})
    {%- endif %}
    {%- endfor %}

    return run_shell(splits)

{% endfor %}

# Entry point to run the server
if __name__ == "__main__":
    mcp.run()
